<br/>
{{tmp[0]}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div class="containerCenter" #containerCenter>

</div>

<div class="container-fluid">
  <div class="row"
       cdkDrag
       cdkDragLockAxis="x"
       (cdkDragMoved)="onDragMoved($event, 1)"
       (cdkDragEntered)="onDragEntered($event)"
       #someInput
        >
    <div class="col zindex-adjust-back" [style.transform]="'translate3d('+translate3d[0]+'px,0px, 0px)'" >
      <div class="inside-wrapper "
           [style.left]="'left:'+tmp[0]+'px'"
           [ngClass]="{'box': condition[0], 'boxreset': !condition[0]}">
        1
      </div>
    </div>
    <div class="col zindex-adjust-back " [style.transform]="'translate3d('+translate3d[1]+'px,0px, 0px)'">
      <div class="inside-wrapper "
           [style.left]="'left:'+tmp[1]+'px'"
           [ngClass]="{'box': condition[1], 'boxreset': !condition[1]}">
        2
      </div>
    </div>
    <div class="col zindex-adjust-back " [style.transform]="'translate3d('+translate3d[2]+'px,0px, 0px)'" >
      <div class="inside-wrapper "
           [style.left]="'left:'+tmp[2]+'px'"
           [ngClass]="{'box': condition[2], 'boxreset': !condition[2]}">
       3
      </div>
    </div>
    <div class="col zindex-adjust-back " [style.transform]="'translate3d('+translate3d[3]+'px,0px, 0px)'" >
      <div class="inside-wrapper "
           [style.left]="'left:'+tmp[3]+'px'"
           [ngClass]="{'box': condition[3], 'boxreset': !condition[3]}">
     4
      </div>
    </div>
    <div class="col zindex-adjust-back " [style.transform]="'translate3d('+translate3d[4]+'px,0px, 0px)'" >
      <div class="inside-wrapper "
           [style.left]="'left:'+tmp[4]+'px'"
           [ngClass]="{'box': condition[4], 'boxreset': !condition[4]}">
    5
      </div>
    </div>
  </div>

</div>

<button (click)="next()" class="btn btn-default">Next</button>
<button (click)="prev()" class="btn btn-default">Prev</button>
<button (click)="reset()" class="btn btn-default">Reset</button>
