<p>matcarousel works!</p>

<section class="section-container">
  <div class="container-fluid">
    <div class="row">
      <div class="slider-wrap">
        <div class="slider-main">

          <div class="item" cdkDropListOrientation="horizontal" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
            <div class="text">
              1
            </div>
          </div>

          <div class="item" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
            <div class="text">
              2
            </div>
          </div>

          <div class="item" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
            <div class="text">
              3
            </div>
          </div>


          <div class="item" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
            <div class="text">
              4
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div>
</div>

<div  class="container " style="position: relative; left: 0; top: 100px; height: 200px; background-color: yellow">
  {{this.tmp2}}
  <!-- <ng-container *ngFor="let slide of slides; let i = index;"> -->
  <div
    class="cursor "
    [ngClass]="{'grow': showMyClass}"
    [ngStyle]="{'left':tmp[0]+'px'}"
    style="height: 20px; width: 20px;
      position: absolute; top:0; display: inline-block;
      background-color: red; z-index: 10"
    cdkDrag
    cdkDragLockAxis="x"
    cdkDragBoundary=".container"
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragEnded)="onDragEnded($event, 1)"
    (cdkDragMoved)="onDragMoved($event, 1)">
    first
  </div>
  <div
    class="cursor "
    [ngClass]="{'grow': showMyClass}"
    [ngStyle]="{
      left:tmp[1]+'px',
      transform: 'scale('+tmp2+')'}"
    style="height: 320px; position: absolute; top:0; left:300px; object-position: 50% 50%;
     width:320px;background-color: red; z-index: 10"
    cdkDrag
    cdkDragLockAxis="x"
    cdkDragBoundary=".container"
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragEnded)="onDragEnded($event,2)"
    (cdkDragMoved)="onDragMoved($event, 1)">
    234234
  </div>

  <div
    class="cursor "
    [ngClass]="{'grow': showMyClass}"
    [ngStyle]="{'left':tmp+'px'} "
    style="height: 320px; position: absolute; top:0; left:760px;
     width:320px;background-color: red; z-index: 10"
    cdkDrag
    cdkDragLockAxis="x"
    cdkDragBoundary=".container"
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragEnded)="onDragEnded($event,2)">
third
  </div>
  <!-- </ng-container> -->
</div>

<div cdkDropList class="example-list">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</div>

<div class="example-box" cdkDrag>
  I can only be dragged using the handle

  <div class="example-handle" cdkDragHandle>
    <button class="btn move" cdkDragHandle>
      <div>open_with</div>
    </button>
  </div>
</div>


<button class="buttonStyle prev" appPrev (click)="prevMove($event)">Left</button>
<button class="buttonStyle next" (click)="nextMove($event)">right</button>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="frame bb example-list" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
  123
</div>
<div class="frame bb example-list" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
  123
</div>
<div class="frame bb example-list" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
  123
</div>
<div class="frame bb example-list" cdkDragLockAxis="x" cdkDrag cdkDragHandle>
  123
</div>
