.setup-action-position {
  width: 100%;
  left: 0;
}

#inner {
  margin: 0;
}

#outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.placeholder-block {
  max-width: 100%;
  height: calc(6vh);
  width: 100px;
  border: 1px solid #ccc;
  padding: 2em;
}

.massive-font {
  font-size: calc(5.88vh);
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  color: #ddd;
}

.slide-font {
  font-size: 0.75em;

}

.setup-start-here{
  line-height: 20px;
  height: 20px;
}

.setup-arrow {
  height: 12px;
  right:1em;
  top:0.6em;
  line-height: 1em;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .heading4 {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  .heading4 {
    font-size: 1.25em;
  }
}

