<div id="outer">
  <div id="inner">
    <div class="text-center m-sm-1 placeholder-block position-relative bb">
      <div class="massive-font">X</div>
    </div>
  </div>
</div>

<div class="text-center justify-content-center bold pt-sm-2 pt-md-1 pt-lg-4 heading4 ">
  {{ cardTitle }}
</div>

<div class="pt-5 mt-5 text-center text-uppercase">
  <div class="bottom-0 justify-content-center setup-start-here " >
    <a
      href="#"
      *ngIf="showCalltoAction"
      class="
        text-left
        position-absolute
        bottom-0
        p-2
        setup-action-position
       slide-font
      "
    >
      Start here
      <img

        class="text-left position-absolute ms-2 mt-1 setup-arrow "
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOC4xMjIgMjRsLTQuMTIyLTQgOC04LTgtOCA0LjEyMi00IDExLjg3OCAxMnoiLz48L3N2Zz4="
        alt="call to action arrow"
      />
    </a>
  </div>
</div>
