.inside-wrapper {
  margin: 0;
  padding: 1em;
  height: calc(100vw / 4.5);
  width: 85%;

  background: #f1f1f1; /* Old browsers */
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}



.zindex-adjust-back {
  z-index:1;
  transition: all .2s ease-in-out;
  transform: translate3d(0px,0px,0px);
}

.box {
  transition: all 0.333s ease-in-out;
  transform: scale(1.393);
  z-index:100;
  position: relative;
  border-bottom: 0.5em solid #EEC524;
  border-radius: 1em;
  cursor: pointer;
}

.boxreset {
  transition: all 0.2s ease-in-out;
  transform: scale(1) ;
  z-index:0;
  position: relative;
  border-bottom: 0.5em solid #EEC524;
  border-radius: 1em;
  cursor: move;
}

.containerCenter {
  position: absolute;
  width: 5px;
  height: 800px;
  z-index: 15;
  top: 20%;
  left: 50%;
  background: transparent;
}

.left-position {
  background-color: black;
  color:#fff;
  border-radius: 50%;
  padding: 0.4em 0 0 1em ; width:40px; height: 40px;
}


.right-position {
  background-color: black;
  color:#fff;
  border-radius: 50%;
  padding: 0.4em 0 0 0.9em ;
  width:40px;
  height: 40px;
}
