<div class="containerCenter" #containerCenter></div>

<div class="container-fluid">
  <div
    class="row pt-5 justify-content-center"
    cdkDrag
    cdkDragLockAxis="x"
    (cdkDragMoved)="onDragMoved($event)"
    (cdkDragEntered)="onDragEntered($event)"
  >
    <div
      class="col-sm-2 zindex-adjust-back pt-3"
      [style.transform]="'translate3d(' + translate3d[0] + 'px,0px, 0px)'"
    >
      <div
        class="inside-wrapper"
        [ngClass]="{ box: condition[0], boxreset: !condition[0] }"      >
        <app-card-detail
          cardTitle="Mobile Internet"
          [showCalltoAction]="condition[0]"
        ></app-card-detail>
      </div>
    </div>
    <div
      class="col-sm-2 zindex-adjust-back pt-3"
      [style.transform]="'translate3d(' + translate3d[1] + 'px,0px, 0px)'"
    >
      <div
        class="inside-wrapper"
        [ngClass]="{ box: condition[1], boxreset: !condition[1] }"
      >
        <app-card-detail
          cardTitle="Home Internet"
          [showCalltoAction]="condition[1]"
        ></app-card-detail>
      </div>
    </div>
    <div
      class="col-sm-2 zindex-adjust-back pt-3"
      [style.transform]="'translate3d(' + translate3d[2] + 'px,0px, 0px)'"
    >
      <div
        class="inside-wrapper"
        [ngClass]="{ box: condition[2], boxreset: !condition[2] }"
      >
        <app-card-detail
          cardTitle="Get a device"
          [showCalltoAction]="condition[2]"
        ></app-card-detail>
      </div>
    </div>
    <div
      class="col-sm-2 zindex-adjust-back pt-3"
      [style.transform]="'translate3d(' + translate3d[3] + 'px,0px, 0px)'"
    >
      <div
        class="inside-wrapper"
        [ngClass]="{ box: condition[3], boxreset: !condition[3] }"
      >
        <app-card-detail
          cardTitle="Add a phone-line"
          [showCalltoAction]="condition[3]"
        ></app-card-detail>
      </div>
    </div>
    <div
      class="col-sm-2 align-self-center zindex-adjust-back pt-3"
      [style.transform]="'translate3d(' + translate3d[4] + 'px,0px, 0px)'"
    >
      <div
        class="inside-wrapper"
        [ngClass]="{ box: condition[4], boxreset: !condition[4] }"
      >
        <app-card-detail
          cardTitle="Upgrade"
          [showCalltoAction]="condition[4]"
        ></app-card-detail>
      </div>
    </div>
  </div>
  <!-- setup the controls -->

</div>
<br /><br /><br />
<div class="position-relative pt-5 mt-5">
  <div
    class="position-absolute pointerCursor left-arrow"
    title="Move the Carousel to the left "
    (click)="prev()"
  >
    <div class="shadow-lg left-position">
      <i class="arrow left shadow-lg"></i>
    </div>
  </div>

  <div
    class="position-absolute pointerCursor right-arrow"
    title="Move the Carousel to the right "
    (click)="next()"
  >
    <div class="shadow-lg right-position">
      <i class="arrow right shadow-lg"></i>
    </div>
  </div>
</div>

<br /><br />
<button (click)="reset()" class="btn btn-default">Reset</button>
